{
	"openapi": "3.1.0",
	"info": {
		"title": "Liforma Publisher API",
		"version": "0.6.0",
		"description": "Unlisted org-allowlisted Publisher API used by @liforma/publisher. Live API keys only. Not part of the public integrator Session Launch contract."
	},
	"servers": [
		{
			"url": "https://api.liforma.ai"
		}
	],
	"paths": {
		"/v1/projects/{projectId}/uploads": {
			"post": {
				"summary": "Create a private upload session",
				"operationId": "createUpload",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateUploadBody"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Upload session + presigned PUT",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateUploadResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/uploads/{uploadId}/complete": {
			"post": {
				"summary": "Complete a private upload",
				"operationId": "completeUpload",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "uploadId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Validated upload",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CompleteUploadResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/clothes": {
			"get": {
				"summary": "List clothes with optional effective taxonomy filters",
				"operationId": "listClothes",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "sides",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Comma-separated interaction-side slugs"
					},
					{
						"name": "seasons",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "uses",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "uniform",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "composition",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "colours",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "universe",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "era",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "country",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Clothes list",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListClothesResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			},
			"post": {
				"summary": "Create clothes from a completed upload",
				"operationId": "createClothes",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateClothesBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Idempotent replay of an existing job for the same externalId or image fingerprint",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateClothesPublishResponse"
								}
							}
						}
					},
					"202": {
						"description": "Accepted publish job",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateClothesPublishResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/clothes/{clothesId}": {
			"get": {
				"summary": "Get clothes resource",
				"operationId": "getClothes",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "clothesId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Clothes resource",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetClothesResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			},
			"patch": {
				"summary": "Update clothes metadata",
				"operationId": "patchClothes",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "clothesId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PatchClothesBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Updated clothes",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetClothesResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			},
			"delete": {
				"summary": "Permanently delete archived clothes",
				"operationId": "deleteClothes",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "clothesId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Permanently deleted",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DeletedResourceResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/clothes/{clothesId}/archive": {
			"post": {
				"summary": "Archive clothes",
				"operationId": "archiveClothes",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "clothesId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Archived clothes",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetClothesResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/clothes/{clothesId}/restore": {
			"post": {
				"summary": "Restore archived clothes",
				"operationId": "restoreClothes",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "clothesId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Restored clothes",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetClothesResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/hair": {
			"get": {
				"summary": "List hair with optional taxonomy filters",
				"operationId": "listHair",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "length",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Hair-length slug"
					},
					{
						"name": "colours",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Comma-separated hair-colour slugs"
					}
				],
				"responses": {
					"200": {
						"description": "Hair list",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListHairResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			},
			"post": {
				"summary": "Create hair from a completed upload",
				"operationId": "createHair",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateHairBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Idempotent replay of an existing job for the same externalId or image fingerprint",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateHairPublishResponse"
								}
							}
						}
					},
					"202": {
						"description": "Accepted publish job",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateHairPublishResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/hair/{hairId}": {
			"get": {
				"summary": "Get hair resource",
				"operationId": "getHair",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "hairId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Hair resource",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetHairResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			},
			"patch": {
				"summary": "Update hair metadata",
				"operationId": "patchHair",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "hairId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PatchHairBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Updated hair",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetHairResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			},
			"delete": {
				"summary": "Permanently delete archived hair",
				"operationId": "deleteHair",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "hairId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Permanently deleted",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DeletedResourceResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/hair/{hairId}/archive": {
			"post": {
				"summary": "Archive hair",
				"operationId": "archiveHair",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "hairId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Archived hair",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetHairResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/hair/{hairId}/restore": {
			"post": {
				"summary": "Restore archived hair",
				"operationId": "restoreHair",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "hairId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Restored hair",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetHairResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/costumes": {
			"get": {
				"summary": "List costumes with optional effective taxonomy filters",
				"operationId": "listCostumes",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "sides",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Comma-separated interaction-side slugs"
					},
					{
						"name": "seasons",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "uses",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "uniform",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "composition",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "colours",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "universe",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "era",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "country",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Costume list",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListCostumesResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			},
			"post": {
				"summary": "Create a whole costume from a completed upload",
				"operationId": "createCostume",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateCostumeBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Idempotent replay of an existing job for the same externalId or image fingerprint",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateCostumePublishResponse"
								}
							}
						}
					},
					"202": {
						"description": "Accepted publish job",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateCostumePublishResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/costumes/{costumeId}": {
			"get": {
				"summary": "Get costume resource",
				"operationId": "getCostume",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "costumeId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Costume resource",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetCostumeResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			},
			"patch": {
				"summary": "Update costume metadata",
				"operationId": "patchCostume",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "costumeId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PatchCostumeBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Updated costume",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetCostumeResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			},
			"delete": {
				"summary": "Permanently delete an archived costume",
				"operationId": "deleteCostume",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "costumeId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Permanently deleted",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DeletedResourceResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/costumes/{costumeId}/archive": {
			"post": {
				"summary": "Archive costume",
				"operationId": "archiveCostume",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "costumeId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Archived costume",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetCostumeResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/costumes/{costumeId}/restore": {
			"post": {
				"summary": "Restore archived costume",
				"operationId": "restoreCostume",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "costumeId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Restored costume",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetCostumeResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/locations": {
			"post": {
				"summary": "Create a custom location from a completed upload",
				"operationId": "createLocation",
				"deprecated": true,
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateLocationBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Idempotent replay of an existing job for the same externalId or image fingerprint",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateLocationPublishResponse"
								}
							}
						}
					},
					"202": {
						"description": "Accepted publish job",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateLocationPublishResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/locations/{locationId}": {
			"get": {
				"summary": "Get location resource",
				"operationId": "getLocation",
				"deprecated": true,
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "locationId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Location resource",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetLocationResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			},
			"delete": {
				"summary": "Permanently delete an archived custom location",
				"operationId": "deleteLocation",
				"deprecated": true,
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "locationId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Permanently deleted",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DeletedResourceResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/locations/{locationId}/archive": {
			"post": {
				"summary": "Archive a custom location",
				"operationId": "archiveLocation",
				"deprecated": true,
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "locationId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Archived location",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetLocationResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/locations/{locationId}/restore": {
			"post": {
				"summary": "Restore an archived custom location",
				"operationId": "restoreLocation",
				"deprecated": true,
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "locationId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Restored location",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetLocationResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/backdrops": {
			"post": {
				"summary": "Create a custom backdrop from a completed upload",
				"operationId": "createBackdrop",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateLocationBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Idempotent replay of an existing job for the same externalId or image fingerprint",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateBackdropPublishResponse"
								}
							}
						}
					},
					"202": {
						"description": "Accepted publish job",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateBackdropPublishResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
[...]
