{
	"openapi": "3.1.0",
	"info": {
		"title": "Liforma Publisher API",
		"version": "0.3.0",
		"description": "Unlisted org-allowlisted Publisher API used by @liforma/publisher. Live API keys only. Not part of the public integrator Session Launch contract."
	},
	"servers": [
		{
			"url": "https://api.liforma.ai"
		}
	],
	"paths": {
		"/v1/projects/{projectId}/uploads": {
			"post": {
				"summary": "Create a private upload session",
				"operationId": "createUpload",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateUploadBody"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Upload session + presigned PUT",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateUploadResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/uploads/{uploadId}/complete": {
			"post": {
				"summary": "Complete a private upload",
				"operationId": "completeUpload",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "uploadId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Validated upload",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CompleteUploadResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/clothes": {
			"post": {
				"summary": "Create clothes from a completed upload",
				"operationId": "createClothes",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateClothesBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Idempotent replay of an existing job for the same externalId or image fingerprint",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateClothesPublishResponse"
								}
							}
						}
					},
					"202": {
						"description": "Accepted publish job",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateClothesPublishResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/clothes/{clothesId}": {
			"get": {
				"summary": "Get clothes resource",
				"operationId": "getClothes",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "clothesId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Clothes resource",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetClothesResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			},
			"patch": {
				"summary": "Update clothes metadata",
				"operationId": "patchClothes",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "clothesId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PatchClothesBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Updated clothes",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetClothesResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/hair": {
			"post": {
				"summary": "Create hair from a completed upload",
				"operationId": "createHair",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateHairBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Idempotent replay of an existing job for the same externalId or image fingerprint",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateHairPublishResponse"
								}
							}
						}
					},
					"202": {
						"description": "Accepted publish job",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateHairPublishResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/hair/{hairId}": {
			"get": {
				"summary": "Get hair resource",
				"operationId": "getHair",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "hairId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Hair resource",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetHairResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			},
			"patch": {
				"summary": "Update hair metadata",
				"operationId": "patchHair",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "hairId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PatchHairBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Updated hair",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetHairResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/locations": {
			"post": {
				"summary": "Create a custom location from a completed upload",
				"operationId": "createLocation",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateLocationBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Idempotent replay of an existing job for the same externalId or image fingerprint",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateLocationPublishResponse"
								}
							}
						}
					},
					"202": {
						"description": "Accepted publish job",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateLocationPublishResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/locations/{locationId}": {
			"get": {
				"summary": "Get location resource",
				"operationId": "getLocation",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "locationId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Location resource",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetLocationResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/jobs/{jobId}": {
			"get": {
				"summary": "Poll a publish job",
				"operationId": "getJob",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "jobId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Job status",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetJobResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/jobs/{jobId}/retry": {
			"post": {
				"summary": "Retry a failed publish job",
				"operationId": "retryJob",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "jobId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"202": {
						"description": "New job accepted",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreatePublishResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/avatars": {
			"get": {
				"summary": "List costume-capable avatars",
				"operationId": "listAvatars",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Avatar list",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListAvatarsResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/characters/{characterId}": {
			"get": {
				"summary": "Get a character",
				"operationId": "getCharacter",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "characterId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Character",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateCharacterResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			},
			"patch": {
				"summary": "Update a character",
				"operationId": "patchCharacter",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "characterId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PatchCharacterBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Updated character",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateCharacterResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/characters": {
			"post": {
				"summary": "Create a character",
				"operationId": "createCharacter",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateCharacterBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Idempotent externalId replay",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateCharacterResponse"
								}
							}
						}
					},
					"201": {
						"description": "Created character",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreateCharacterResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/places/{placeId}": {
			"get": {
				"summary": "Get a place",
				"operationId": "getPlace",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "placeId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Place",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreatePlaceResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			},
			"patch": {
				"summary": "Update a place name or location",
				"operationId": "patchPlace",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "placeId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PatchPlaceBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Updated place",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreatePlaceResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/places": {
			"post": {
				"summary": "Create a place from a ready locationId",
				"operationId": "createPlace",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreatePlaceBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Idempotent externalId replay",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreatePlaceResponse"
								}
							}
						}
					},
					"201": {
						"description": "Created place",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreatePlaceResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/experiences": {
			"description": "POST creates a Publisher experience. GET on this same path is the integrator catalog (different envelope, cache, and auth errors) — not a Publisher list.",
			"post": {
				"summary": "Create an experience",
				"operationId": "createExperience",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateExperienceBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Idempotent externalId replay",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ExperienceResponse"
								}
							}
						}
					},
					"201": {
						"description": "Created experience",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ExperienceResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/experiences/{experienceId}": {
			"get": {
				"summary": "Get an experience",
				"operationId": "getExperience",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "experienceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"pattern": "^exp_[A-Za-z0-9_]{8,}$"
						},
						"description": "Opaque experience id (`exp_…`). Catalog slug lookup stays on GET /v1/projects/{projectId}/experiences/{slug}."
					}
				],
				"responses": {
					"200": {
						"description": "Experience",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ExperienceResponse"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			},
			"patch": {
				"summary": "Update experience metadata, copy, character, or place",
				"operationId": "patchExperience",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "experienceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"pattern": "^exp_[A-Za-z0-9_]{8,}$"
						},
						"description": "Opaque experience id (`exp_…`). Catalog slug lookup stays on GET /v1/projects/{projectId}/experiences/{slug}."
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PatchExperienceBody"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Updated experience",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ExperienceResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"409": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		},
		"/v1/projects/{projectId}/experiences/{experienceId}/publish": {
			"post": {
				"summary": "Publish an experience",
				"operationId": "publishExperience",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"parameters": [
					{
						"name": "projectId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "experienceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"pattern": "^exp_[A-Za-z0-9_]{8,}$"
						},
						"description": "Opaque experience id (`exp_…`). Catalog slug lookup stays on GET /v1/projects/{projectId}/experiences/{slug}."
					}
				],
				"responses": {
					"200": {
						"description": "Published experience",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ExperienceResponse"
								}
							}
						}
					},
					"400": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"401": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"403": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"404": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					},
					"503": {
						"description": "Structured publisher error",
						"headers": {
							"Liforma-Request-Id": {
								"schema": {
									"type": "string",
									"example": "req_…"
								},
								"description": "Opaque request id for support / log correlation."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StructuredPublisherError"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"description": "Live developer API key (`lfm_live_…`) from an authoring-enabled organization."
			}
		},
		"schemas": {
			"CreateUploadBody": {
				"type": "object",
				"properties": {
					"purpose": {
						"type": "string",
						"enum": [
							"colour",
							"depth"
						]
					},
					"contentType": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					},
					"bytes": {
						"type": "integer",
						"exclusiveMinimum": 0,
						"maximum": 20971520
					},
					"sha256": {
						"type": "string",
						"minLength": 32,
						"maxLength": 88
					}
				},
				"required": [
					"purpose",
					"contentType",
					"bytes",
					"sha256"
				],
				"additionalProperties": false
			},
			"CreateClothesBody": {
				"type": "object",
				"properties": {
					"avatarId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					},
					"externalId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128,
						"pattern": "^[A-Za-z0-9._:-]+$"
					},
					"uploadId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64
					},
					"backgroundMode": {
						"type": "string",
						"enum": [
							"remove",
							"transparent"
						]
					},
					"forceNew": {
						"description": "When true, start a new publish job even if this project already has clothes or hair for the same image. Omit to reuse a matching ready or in-progress plate.",
						"type": "boolean"
					}
				},
				"required": [
					"avatarId",
					"uploadId"
				],
				"additionalProperties": false
			},
			"CreateHairBody": {
				"type": "object",
				"properties": {
					"avatarId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					},
					"externalId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128,
						"pattern": "^[A-Za-z0-9._:-]+$"
					},
					"uploadId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64
					},
					"backgroundMode": {
						"type": "string",
						"enum": [
							"remove",
							"transparent"
						]
					},
					"forceNew": {
						"description": "When true, start a new publish job even if this project already has clothes or hair for the same image. Omit to reuse a matching ready or in-progress plate.",
						"type": "boolean"
					}
				},
				"required": [
					"avatarId",
					"uploadId"
				],
				"additionalProperties": false
			},
			"CreateLocationBody": {
				"type": "object",
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					},
					"externalId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128,
						"pattern": "^[A-Za-z0-9._:-]+$"
					},
					"uploadId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64
					},
					"forceNew": {
						"description": "When true, start a new location publish job even if this project already has a location for the same image. Omit to reuse a matching published or in-progress location.",
						"type": "boolean"
					},
					"depth": {
						"type": "object",
						"properties": {
							"uploadId": {
								"type": "string",
								"minLength": 1,
								"maxLength": 64
							},
							"depthMapType": {
								"type": "string",
								"enum": [
									"disparity"
								]
							},
							"metersPerDepth": {
								"type": "number",
								"minimum": 0.1,
								"maximum": 20
							}
						},
						"required": [
							"uploadId"
						],
						"additionalProperties": false
					}
				},
				"required": [
					"name",
					"uploadId"
				],
				"additionalProperties": false
			},
			"CreateCharacterBody": {
				"type": "object",
				"properties": {
					"avatarId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					},
					"voice": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					},
					"sttLang": {
						"type": "string",
						"minLength": 2,
						"maxLength": 16
					},
					"clothesId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64
					},
					"hairId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64
					},
					"personality": {
						"type": "string",
						"maxLength": 2000
					},
					"generalInstructions": {
						"type": "string",
						"maxLength": 8000
					},
					"gender": {
						"description": "Optional. Omit to inherit gender from the avatar catalogue.",
						"type": "string",
						"enum": [
							"female",
							"male",
							"non-binary"
						]
					},
					"age": {
						"description": "Optional apparent age in years (1–1000). Omit to inherit from the avatar catalogue.",
						"type": "integer",
						"minimum": 1,
						"maximum": 1000
					},
					"ethnicity": {
						"description": "Optional appearance group for facial features, hair, and skin colour. Omit to inherit from the avatar catalogue.",
						"type": "string",
						"enum": [
							"african",
							"east-asian",
							"european",
							"indigenous",
							"mediterranean",
							"middle-eastern",
							"mixed",
							"north-african",
							"pacific-islander",
							"south-asian",
							"southeast-asian"
						]
					},
					"externalId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128,
						"pattern": "^[A-Za-z0-9._:-]+$"
					}
				},
				"required": [
					"avatarId",
					"name",
					"voice",
					"sttLang"
				],
				"additionalProperties": false
			},
			"CreatePlaceBody": {
				"type": "object",
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					},
					"locationId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					},
					"externalId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128,
						"pattern": "^[A-Za-z0-9._:-]+$"
					}
				},
				"required": [
					"locationId"
				],
				"additionalProperties": false
			},
			"CreateExperienceBody": {
				"type": "object",
				"properties": {
					"title": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					},
					"slug": {
						"type": "string"
					},
					"attributes": {},
					"characterId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64
					},
					"placeId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64
					},
					"startingMessage": {
						"type": "string",
						"maxLength": 2000
					},
					"systemInstructions": {
						"type": "string",
						"maxLength": 8000
					},
					"introduction": {
						"type": "string",
						"maxLength": 2000
					},
					"publish": {
						"type": "boolean"
					},
					"externalId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128,
						"pattern": "^[A-Za-z0-9._:-]+$"
					}
				},
				"required": [
					"title",
					"characterId",
					"placeId"
				],
				"additionalProperties": false
			},
			"PatchCharacterBody": {
				"type": "object",
				"properties": {
					"avatarId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64
					},
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					},
					"voice": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					},
					"sttLang": {
						"type": "string",
						"minLength": 2,
						"maxLength": 16
					},
					"clothesId": {
						"anyOf": [
							{
								"type": "string",
								"minLength": 1,
								"maxLength": 64
							},
							{
								"type": "null"
							}
						]
					},
					"hairId": {
						"anyOf": [
							{
								"type": "string",
								"minLength": 1,
								"maxLength": 64
							},
							{
								"type": "null"
							}
						]
					},
					"personality": {
						"anyOf": [
							{
								"type": "string",
								"maxLength": 2000
							},
							{
								"type": "null"
							}
						]
					},
					"generalInstructions": {
						"anyOf": [
							{
								"type": "string",
								"maxLength": 8000
							},
							{
								"type": "null"
							}
						]
					},
					"gender": {
						"description": "Set a gender override, or null to inherit from the avatar catalogue again.",
						"anyOf": [
							{
								"type": "string",
								"enum": [
									"female",
									"male",
									"non-binary"
								]
							},
							{
								"type": "null"
							}
						]
					},
					"age": {
						"description": "Set an apparent age override (1–1000), or null to inherit from the avatar catalogue again.",
						"anyOf": [
							{
								"type": "integer",
								"minimum": 1,
								"maximum": 1000
							},
							{
								"type": "null"
							}
						]
					},
					"ethnicity": {
						"description": "Set an appearance-group override for facial features, hair, and skin colour, or null to inherit from the avatar catalogue again.",
						"anyOf": [
							{
								"type": "string",
								"enum": [
									"african",
									"east-asian",
									"european",
									"indigenous",
									"mediterranean",
									"middle-eastern",
									"mixed",
									"north-african",
									"pacific-islander",
									"south-asian",
									"southeast-asian"
								]
							},
							{
								"type": "null"
							}
						]
					}
				},
				"additionalProperties": false
			},
			"PatchPlaceBody": {
				"type": "object",
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					},
					"locationId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					}
				},
				"additionalProperties": false
			},
			"PatchHairBody": {
				"type": "object",
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					}
				},
				"required": [
					"name"
				],
				"additionalProperties": false
			},
			"PatchClothesBody": {
				"type": "object",
				"properties": {
					"name": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					}
				},
				"required": [
					"name"
				],
				"additionalProperties": false
			},
			"PatchExperienceBody": {
				"type": "object",
				"properties": {
					"title": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					},
					"slug": {
						"type": "string"
					},
					"attributes": {},
					"characterId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64
					},
					"placeId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 64
					},
					"startingMessage": {
						"type": "string",
						"maxLength": 2000
					},
					"systemInstructions": {
						"type": "string",
						"maxLength": 8000
					},
					"introduction": {
						"type": "string",
						"maxLength": 2000
					}
				},
				"additionalProperties": false
			},
			"CreateUploadResponse": {
				"type": "object",
				"properties": {
					"upload": {
						"type": "object",
						"properties": {
							"id": {
								"type": "string"
							},
							"status": {
								"type": "string",
								"const": "pending"
							},
							"expiresAt": {
								"type": "string",
								"minLength": 1
							}
						},
						"required": [
							"id",
							"status",
							"expiresAt"
						],
						"additionalProperties": false
					},
					"put": {
						"type": "object",
						"properties": {
							"url": {
								"type": "string",
								"format": "uri"
							},
							"headers": {
								"type": "object",
								"propertyNames": {
									"type": "string"
								},
								"additionalProperties": {
									"type": "string"
								}
							}
						},
						"required": [
							"url",
							"headers"
						],
						"additionalProperties": false
					}
				},
				"required": [
					"upload",
					"put"
				],
				"additionalProperties": false
			},
			"CompleteUploadResponse": {
				"type": "object",
				"properties": {
					"upload": {
						"type": "object",
						"properties": {
							"id": {
								"type": "string"
							},
							"status": {
								"type": "string",
								"enum": [
									"uploaded",
									"claimed"
								]
							},
							"bytes": {
								"anyOf": [
									{
										"type": "integer",
										"minimum": -9007199254740991,
										"maximum": 9007199254740991
									},
									{
										"type": "null"
									}
								]
							},
							"sha256": {
								"anyOf": [
									{
										"type": "string"
									},
									{
										"type": "null"
									}
								]
							}
						},
						"required": [
							"id",
							"status",
							"bytes",
							"sha256"
						],
						"additionalProperties": false
					}
				},
				"required": [
					"upload"
				],
				"additionalProperties": false
			},
			"PublishJob": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"status": {
						"type": "string",
						"enum": [
							"queued",
							"running",
							"waiting_processor",
							"succeeded",
							"failed"
						]
					},
					"kind": {
						"type": "string",
						"enum": [
							"clothes",
							"hair",
							"location"
						]
					},
					"pollUrl": {
						"type": "string"
					},
					"targetId": {
						"type": "string"
					},
					"requiredOk": {
						"type": "boolean"
					},
					"stage": {
						"anyOf": [
							{
								"type": "string"
							},
							{
								"type": "null"
							}
						]
					},
					"progress": {
						"type": "object",
						"properties": {
							"requiredVerified": {
								"type": "integer",
								"minimum": -9007199254740991,
								"maximum": 9007199254740991
							},
							"requiredTotal": {
								"type": "integer",
								"minimum": -9007199254740991,
								"maximum": 9007199254740991
							}
						},
						"required": [
							"requiredVerified",
							"requiredTotal"
						],
						"additionalProperties": false
					},
					"error": {
						"anyOf": [
							{
								"type": "object",
								"properties": {
									"code": {
										"type": "string"
									},
									"message": {
										"type": "string"
									}
								},
								"required": [
									"code",
									"message"
								],
								"additionalProperties": false
							},
							{
								"type": "null"
							}
						]
					}
				},
				"required": [
					"id",
					"status",
					"kind",
					"pollUrl",
					"targetId",
					"requiredOk",
					"stage",
					"progress",
					"error"
				],
				"additionalProperties": false
			},
			"PublishStub": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"status": {
						"type": "string",
						"enum": [
							"processing",
							"ready",
							"failed"
						]
					}
				},
				"required": [
					"id",
					"status"
				],
				"additionalProperties": false
			},
			"CreateClothesPublishResponse": {
				"type": "object",
				"properties": {
					"job": {
						"type": "object",
						"properties": {
							"id": {
								"type": "string"
							},
							"status": {
								"type": "string",
								"enum": [
									"queued",
									"running",
									"waiting_processor",
									"succeeded",
									"failed"
								]
							},
							"kind": {
								"type": "string",
								"enum": [
									"clothes",
									"hair",
									"location"
								]
							},
							"pollUrl": {
								"type": "string"
							},
							"targetId": {
								"type": "string"
							},
							"requiredOk": {
								"type": "boolean"
							},
							"stage": {
								"anyOf": [
									{
										"type": "string"
									},
									{
										"type": "null"
									}
								]
							},
							"progress": {
								"type": "object",
								"properties": {
									"requiredVerified": {
										"type": "integer",
										"minimum": -9007199254740991,
										"maximum": 9007199254740991
									},
									"requiredTotal": {
										"type": "integer",
										"minimum": -9007199254740991,
										"maximum": 9007199254740991
									}
								},
								"required": [
									"requiredVerified",
									"requiredTotal"
								],
								"additionalProperties": false
							},
							"error": {
								"anyOf": [
									{
										"type": "object",
										"properties": {
											"code": {
												"type": "string"
											},
											"message": {
												"type": "string"
											}
										},
										"required": [
											"code",
											"message"
										],
										"additionalProperties": false
									},
									{
										"type": "null"
									}
								]
							}
						},
						"required": [
							"id",
							"status",
							"kind",
							"pollUrl",
							"targetId",
							"requiredOk",
							"stage",
							"progress",
							"error"
						],
						"additionalProperties": false
					},
					"clothes": {
						"type": "object",
						"properties": {
							"id": {
								"type": "string"
							},
							"status": {
								"type": "string",
								"enum": [
									"processing",
									"ready",
									"failed"
								]
							}
						},
						"required": [
							"id",
							"status"
						],
						"additionalProperties": false
					}
				},
				"required": [
					"job",
					"clothes"
				],
				"additionalProperties": false
			},
			"CreateHairPublishResponse": {
				"type": "object",
				"properties": {
					"job": {
						"type": "object",
						"properties": {
							"id": {
								"type": "string"
							},
							"status": {
								"type": "string",
								"enum": [
									"queued",
									"running",
									"waiting_processor",
									"succeeded",
									"failed"
								]
							},
							"kind": {
								"type": "string",
								"enum": [
									"clothes",
									"hair",
									"location"
								]
							},
							"pollUrl": {
								"type": "string"
							},
							"targetId": {
								"type": "string"
							},
							"requiredOk": {
								"type": "boolean"
							},
							"stage": {
								"anyOf": [
									{
										"type": "string"
									},
									{
										"type": "null"
									}
								]
							},
							"progress": {
								"type": "object",
								"properties": {
									"requiredVerified": {
										"type": "integer",
										"minimum": -9007199254740991,
										"maximum": 9007199254740991
									},
									"requiredTotal": {
										"type": "integer",
										"minimum": -9007199254740991,
										"maximum": 9007199254740991
									}
								},
								"required": [
									"requiredVerified",
									"requiredTotal"
								],
								"additionalProperties": false
							},
							"error": {
								"anyOf": [
									{
										"type": "object",
										"properties": {
											"code": {
												"type": "string"
											},
											"message": {
												"type": "string"
											}
										},
										"required": [
											"code",
											"message"
										],
										"additionalProperties": false
									},
									{
										"type": "null"
									}
								]
							}
						},
						"required": [
							"id",
							"status",
							"kind",
							"pollUrl",
							"targetId",
							"requiredOk",
							"stage",
							"progress",
							"error"
						],
						"additionalProperties": false
					},
					"hair": {
						"type": "object",
						"properties": {
							"id": {
								"type": "string"
							},
							"status": {
								"type": "string",
								"enum": [
									"processing",
									"ready",
									"failed"
								]
							}
						},
						"required": [
							"id",
							"status"
						],
						"additionalProperties": false
					}
				},
				"required": [
					"job",
					"hair"
				],
				"additionalProperties": false
			},
			"CreateLocationPublishResponse": {
				"type": "object",
				"properties": {
					"job": {
						"type": "object",
[...]
