{
	"openapi": "3.1.0",
	"info": {
		"title": "Liforma Session Launch API",
		"version": "2.0.0",
		"description": "Server (API key) and browser (Origin allowlist) Session Launch endpoints used by @liforma/client. Public Zod schemas in api.liforma.ai (`sessionLaunchSchemas.ts`). Runtime bootstrap is an opaque signed `launch` string — not described here."
	},
	"servers": [
		{
			"url": "https://api.liforma.ai"
		}
	],
	"paths": {
		"/v1/sessions": {
			"post": {
				"summary": "Create a Session with an API key (server-to-server)",
				"operationId": "createSession",
				"security": [
					{
						"bearerAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AuthenticatedSessionRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Session Launch",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string",
									"example": "no-store, private"
								},
								"description": "Required on every response containing launch."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SessionLaunchResponse"
								}
							}
						}
					},
					"400": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										},
										"code": {
											"type": "string"
										}
									},
									"additionalProperties": true
								}
							}
						}
					},
					"401": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										},
										"code": {
											"type": "string"
										}
									},
									"additionalProperties": true
								}
							}
						}
					},
					"403": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										},
										"code": {
											"type": "string"
										}
									},
									"additionalProperties": true
								}
							}
						}
					},
					"404": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										},
										"code": {
											"type": "string"
										}
									},
									"additionalProperties": true
								}
							}
						}
					}
				}
			}
		},
		"/v1/browser-sessions": {
			"post": {
				"summary": "Create a Session from the browser (Origin allowlist)",
				"operationId": "createBrowserSession",
				"parameters": [
					{
						"name": "Origin",
						"in": "header",
						"required": true,
						"schema": {
							"type": "string"
						},
						"description": "Browser origin; must be allowlisted for the experience."
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/BrowserSessionRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Session Launch",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string",
									"example": "no-store, private"
								},
								"description": "Required on every response containing launch."
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SessionLaunchResponse"
								}
							}
						}
					},
					"400": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										},
										"code": {
											"type": "string"
										}
									},
									"additionalProperties": true
								}
							}
						}
					},
					"403": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										},
										"code": {
											"type": "string"
										}
									},
									"additionalProperties": true
								}
							}
						}
					},
					"404": {
						"description": "Error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										},
										"code": {
											"type": "string"
										}
									},
									"additionalProperties": true
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"description": "Developer API key from app.liforma.ai"
			}
		},
		"schemas": {
			"SessionCapabilities": {
				"type": "object",
				"properties": {
					"avatar": {
						"type": "boolean"
					},
					"speechInput": {
						"type": "boolean"
					},
					"speechOutput": {
						"type": "boolean"
					},
					"tools": {
						"type": "boolean"
					},
					"externalAudio": {
						"type": "boolean"
					}
				},
				"required": [
					"avatar",
					"speechInput",
					"speechOutput",
					"tools",
					"externalAudio"
				],
				"additionalProperties": false,
				"description": "Session capability flags exposed to integrators."
			},
			"Session": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"minLength": 1
					},
					"experienceId": {
						"type": "string",
						"minLength": 1
					},
					"experienceRevisionId": {
						"type": "string",
						"minLength": 1
					},
					"expiresAt": {
						"type": "string",
						"minLength": 1
					},
					"locale": {
						"type": "string",
						"minLength": 2,
						"maxLength": 32
					},
					"secondaryLocale": {
						"type": "string",
						"minLength": 2,
						"maxLength": 32
					},
					"mode": {
						"type": "string",
						"enum": [
							"conversation",
							"presenter"
						]
					},
					"capabilities": {
						"type": "object",
						"properties": {
							"avatar": {
								"type": "boolean"
							},
							"speechInput": {
								"type": "boolean"
							},
							"speechOutput": {
								"type": "boolean"
							},
							"tools": {
								"type": "boolean"
							},
							"externalAudio": {
								"type": "boolean"
							}
						},
						"required": [
							"avatar",
							"speechInput",
							"speechOutput",
							"tools",
							"externalAudio"
						],
						"additionalProperties": false
					},
					"localeVoiceFallbacks": {
						"minItems": 1,
						"type": "array",
						"items": {
							"type": "object",
							"properties": {
								"axis": {
									"type": "string",
									"enum": [
										"locale",
										"secondaryLocale"
									]
								},
								"requested": {
									"type": "string",
									"minLength": 2,
									"maxLength": 32
								},
								"resolved": {
									"type": "string",
									"minLength": 2,
									"maxLength": 32
								},
								"reason": {
									"type": "string",
									"const": "voice_unsupported"
								}
							},
							"required": [
								"axis",
								"requested",
								"resolved",
								"reason"
							],
							"additionalProperties": false
						}
					}
				},
				"required": [
					"id",
					"experienceId",
					"experienceRevisionId",
					"expiresAt",
					"locale",
					"mode",
					"capabilities"
				],
				"additionalProperties": false,
				"description": "Stable public session facts. Does not include transport, pipeline, renderer, or credentials."
			},
			"SessionLaunchResponse": {
				"type": "object",
				"properties": {
					"session": {
						"type": "object",
						"properties": {
							"id": {
								"type": "string",
								"minLength": 1
							},
							"experienceId": {
								"type": "string",
								"minLength": 1
							},
							"experienceRevisionId": {
								"type": "string",
								"minLength": 1
							},
							"expiresAt": {
								"type": "string",
								"minLength": 1
							},
							"locale": {
								"type": "string",
								"minLength": 2,
								"maxLength": 32
							},
							"secondaryLocale": {
								"type": "string",
								"minLength": 2,
								"maxLength": 32
							},
							"mode": {
								"type": "string",
								"enum": [
									"conversation",
									"presenter"
								]
							},
							"capabilities": {
								"type": "object",
								"properties": {
									"avatar": {
										"type": "boolean"
									},
									"speechInput": {
										"type": "boolean"
									},
									"speechOutput": {
										"type": "boolean"
									},
									"tools": {
										"type": "boolean"
									},
									"externalAudio": {
										"type": "boolean"
									}
								},
								"required": [
									"avatar",
									"speechInput",
									"speechOutput",
									"tools",
									"externalAudio"
								],
								"additionalProperties": false
							},
							"localeVoiceFallbacks": {
								"minItems": 1,
								"type": "array",
								"items": {
									"type": "object",
									"properties": {
										"axis": {
											"type": "string",
											"enum": [
												"locale",
												"secondaryLocale"
											]
										},
										"requested": {
											"type": "string",
											"minLength": 2,
											"maxLength": 32
										},
										"resolved": {
											"type": "string",
											"minLength": 2,
											"maxLength": 32
										},
										"reason": {
											"type": "string",
											"const": "voice_unsupported"
										}
									},
									"required": [
										"axis",
										"requested",
										"resolved",
										"reason"
									],
									"additionalProperties": false
								}
							}
						},
						"required": [
							"id",
							"experienceId",
							"experienceRevisionId",
							"expiresAt",
							"locale",
							"mode",
							"capabilities"
						],
						"additionalProperties": false
					},
					"launch": {
						"type": "string",
						"minLength": 1
					}
				},
				"required": [
					"session",
					"launch"
				],
				"additionalProperties": false,
				"description": "Public session plus opaque signed launch bootstrap for @liforma/client / player.liforma.ai. Integrators may transport `launch` but must not depend on its contents."
			},
			"BrowserSessionRequest": {
				"type": "object",
				"properties": {
					"experienceId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					},
					"locale": {
						"type": "string",
						"minLength": 2,
						"maxLength": 32
					},
					"secondaryLocale": {
						"type": "string",
						"minLength": 2,
						"maxLength": 32
					},
					"learningLocale": {
						"type": "string",
						"minLength": 2,
						"maxLength": 32
					},
					"language": {
						"type": "string",
						"enum": [
							"en",
							"es"
						]
					},
					"mode": {
						"type": "string",
						"enum": [
							"conversation",
							"presenter"
						]
					},
					"speechInputMode": {
						"type": "string",
						"enum": [
							"auto",
							"manual",
							"off"
						]
					},
					"speechOnly": {
						"type": "boolean"
					}
				},
				"required": [
					"experienceId"
				],
				"additionalProperties": false,
				"description": "Browser mint body. experienceId is typically exp_…; validated as a non-empty string (max 128)."
			},
			"AuthenticatedSessionRequest": {
				"type": "object",
				"properties": {
					"experienceId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					},
					"locale": {
						"type": "string",
						"minLength": 2,
						"maxLength": 32
					},
					"secondaryLocale": {
						"type": "string",
						"minLength": 2,
						"maxLength": 32
					},
					"learningLocale": {
						"type": "string",
						"minLength": 2,
						"maxLength": 32
					},
					"language": {
						"type": "string",
						"enum": [
							"en",
							"es"
						]
					},
					"mode": {
						"type": "string",
						"enum": [
							"conversation",
							"presenter"
						]
					},
					"speechInputMode": {
						"type": "string",
						"enum": [
							"auto",
							"manual",
							"off"
						]
					},
					"speechOnly": {
						"type": "boolean"
					},
					"processorId": {
						"type": "string",
						"minLength": 1,
						"maxLength": 128
					}
				},
				"required": [
					"experienceId"
				],
				"additionalProperties": false,
				"description": "Server mint body — browser fields plus optional processorId."
			}
		}
	}
}
